#body{
    background-color: oklch(70.7% 0.165 254.624);
}

#body.dia{
    background-color: oklch(70.7% 0.165 254.624);
}

#body.noite{
    background-color: oklch(12.9% 0.042 264.695)
}

#cardClima{
    background-color: oklch(80.9% 0.105 251.813);
    color: white ;
}

#cardClima.dia{
    background-color: oklch(80.9% 0.105 251.813);
}

#cardClima.noite{
    background-color: oklch(55.2% 0.016 285.938);
}

#header{
    background-color: oklch(70.7% 0.165 254.624);
    color: white ;
}

#header.dia{
    background-color: oklch(70.7% 0.165 254.624);
}

#header.noite{
    background-color: oklch(12.9% 0.042 264.695);
}

#botaoSubmit{
    background-color: oklch(80.9% 0.105 251.813);
    color: white ;
}

#botaoSubmit.dia{
    background-color: oklch(80.9% 0.105 251.813);
}

#botaoSubmit.noite{
    background-color: oklch(55.2% 0.016 285.938);
}

#tituloPesquisa{
    color: white ;
}

#tituloPesquisa.dia{
    color: white;
}

#tituloPesquisa.noite{
    color: white ;
}

.proximoDia.dia{
    background-color: oklch(80.9% 0.105 251.813);
}

.proximoDia.noite{
    background-color: oklch(55.2% 0.016 285.938);
}